body{
    margin: 0;
    padding-top: 800px;
    text-align: center;

}
@media screen and (min-width : 750px) {
#content{float:left;width:60%;}
#sidebar{float:right;width:35%}
} 


 
@media screen and (min-width : 481px) and (max-width : 749px) {
#content{width:95%;}
#sidebar{width:95%;}    
}
#home{
    position: absolute;
        overflow:hidden;
        height:800px;
    color: black;
    left:0;
    bottom:100px;
    right:0;
    top:0;
    opacity: 0.83;
display: table;
    width:100%;
    height:100%;
    z-index: 9px;
  
        
        
}
.parallax-inner{
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}
 h3{
    color: azure;
}
h1{
    font-size: 80px;
    line-height: 1.2;
    font-family: inherit;
    font-weight: 300;
    margin-top: 200px;
    
}

h2{
    font-size: 30px;
    line-height: 1.2;
    font-family: monospace;
    font-weight: 300;
    
    
}
#bio{
    font-size: 40px;
    text-align: center;
    padding: 50px;
    background-color: aliceblue;
}
.line{
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
    
}
p{
    width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;
}
.menu{
     position: fixed;
    background: white;
    width: 100%;
   margin-top: 0px;
    font-family: sans-serif;
   top: 0px;
    z-index: 10;
    color: mediumpurple;
    
}
.links{
    display: inline;
    font-size: 20px;
    padding-left: 33px;
    padding-right: 25px;
   font-family: fantasy;
}
.links:hover{
    font-size: 25px;
    text-decoration: underline;
    color: deeppink;
}
#name{
    font-size: 30px;
    line-height: 1.2;
    
    font-family: Oswald;
}
a{
    text-decoration: none;
    color: deeppink;
    text-shadow: 2px 2px gainsboro;
}
html{
    scroll-behavior: smooth;
}

.contact_1 a{
    color: black;
    text-shadow: none;
    }
.contact_1 h3{
    display: inline;
}
img {
    max-width: 100%;
}
iframe, object, embed{
width: 100%;
}





    
    